@font-face {
    font-family: "icons";
    src: url("./icons.eot?98316bd2c8bb4768ed7867fd9db97d1a#iefix") format("embedded-opentype"),
url("./icons.woff2?98316bd2c8bb4768ed7867fd9db97d1a") format("woff2"),
url("./icons.woff?98316bd2c8bb4768ed7867fd9db97d1a") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-aj:before {
    content: "\f101";
}
